* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    width: 290px;
    height: 290px;
    background-color: #fff;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
}

.column {
    display: flex;
    height: 100%;
}

.row {
    width: 100%;
    background-color: #e74c3c;
    border: 1px solid #fff;
}
