* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.logo-only {
    padding: 20px;
    box-shadow: 2px -7px 18px 0px #000;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-block-start: 30px;
}

button{
    background-color: #0069ff;
    padding: 14px 32px;
    color: #fff;
    border:none;
}

.container {
    width: 480px;
    height: 480px;
    background-color: #fff;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.column {
    display: flex;
    height: 100%;
}

.row {
    width: 100%;
    background-color: #fff;
    border: 1px solid #818182;
}

.pen {
    background-color: #000;
}